
.loader{
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 50%;
    width: 70px;
 
}

.cover{
    position: absolute;
    z-index: 1000;
    background-color: rgba(0,0,0,.4);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

